*`
#*
Second_Degree_Hand/V3/toni/*

*.sh~

*.log

test/*.stl
test/pre*/*

RightAssembledModel.stl

part*.stl

.gitignore~

*.txt

EH2.0/PalmLeft1.86.stl

test/#log.txt#

*.txt#

test/Assembly.scad

EH2.0/HingeCaps [x1] (repaired).stl

EH2.0/HingeCaps [x1] (repaired).stl

EH2.0/HingeCaps [x1] (repaired).stl

EH2.0/HingeCaps [x1]_fixed.stl

EH2.0/HingeCaps [x1] (repaired).stl

test/*.stl
